<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Address form</title>
    <style>
        .error{color:red}
    </style>
</head>
<body>
<h1>Please fill in the Address form</h1>
<hr>
<h2>New Address:</h2>
<form method="post" action="/api/addresses" th:object="${address}" th:action="@{/api/addresses}">
    <table>
        <tbody>
        <input type="hidden" id="id" name="id" th:field="*{id}"/>
        <tr>
            <td><label>Country name:</label></td>
            <td>
                <input type="text" id="countryName" name="countryName" th:field="*{countryName}"/>
            </td>
        </tr>
        <td><span th:if="${#fields.hasErrors('countryName')}" class="error" th:errors="*{countryName}">
            Country name is invalid</span></td>
        <tr>
            <td><label>City name:</label></td>
            <td>
                <input type="text" id="cityName" name="cityName" th:field="*{cityName}"/>
            </td>
        </tr>
        <td><span th:if="${#fields.hasErrors('cityName')}" class="error" th:errors="*{cityName}">
            City name is invalid</span></td>
        <tr>
            <td><label>Street name:</label></td>
            <td>
                <input type="text" id="streetName" name="streetName" th:field="*{streetName}"/>
            </td>
        </tr>
        <td> <span th:if="${#fields.hasErrors('streetName')}" class="error" th:errors="*{streetName}">
            Street name is invalid</span></td>
        <tr>
            <td><label>House number:</label></td>
            <td>
                <input type="text" id="houseNumber" name="houseNumber" th:field="*{houseNumber}"/>
            </td>
        </tr>
        <td><span th:if="${#fields.hasErrors('houseNumber')}" class="error" th:errors="*{houseNumber}">
            House number is invalid</span></td>
        <tr>
            <td><label>Courier:</label></td>
            <td>
                <select th:field="*{courier}">
                    <option value="">Choose...</option>
                    <option th:each="newCourier:${couriers}" th:value="${newCourier.id}"
                            th:text="${newCourier.firstName+' '+newCourier.lastName}">
                    </option>
                </select>
            </td>
        </tr>
        <td><span th:if="${#fields.hasErrors('courier')}" class="error" th:errors="*{courier}">
            Courier id is invalid</span></td>
        <tr>
            <td>
                <input type="submit" value="Save Address" class="save"/>
            </td>
        </tr>
        </tbody>
    </table>
</form>
<p>
    <a th:href="@{/api/addresses}">
        <button type="button" class="update-button">Return back to Address list</button>
    </a>
</p>
</body>
</html>