<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
<body>
<h1>Only visible to the admin.</h1>
<hr>
<a th:href="@{/api/couriers}">
    <button type="button" class="update-button">
        List of couriers
    </button>
</a>
<br><br>
<a th:href="@{/api/addresses}">
    <button type="button" class="update-button">
        List of addresses
    </button>
</a>
<br><br>
<a th:href="@{/api/files}">
    <button type="button" class="update-button">
        Work with files
    </button>
</a>
<br><br>
<a th:href="@{/home}">
    <button type="button" class="update-button">Return to home's page</button>
</a>
</body>
</html>