<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of couriers</title>
</head>
<body>
<h1> List of couriers:</h1>
<hr>
<div id="container">
    <div id="content">
        <button type="button" onclick="window.location.href='/api/couriers/courier'; return false;"
                class="add-button"> Add courier
        </button>
        <br><br>
        <table th:border="1">
            <tr>
                <th>Courier Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Action</th>
            </tr>
            <tr th:each="courier : ${couriers}">
                <td th:text="${courier.id}"></td>
                <td th:text="${courier.firstName}"></td>
                <td th:text="${courier.lastName}"></td>
                <td th:text="${courier.phone}"></td>
                <td>
                    <form action="#" th:action="@{/api/couriers/{id}(id=${courier.id})}" th:method="put">
                        <button type="submit" class="btn">Update courier</button>
                    </form>
                    <form action="#" th:action="@{/api/couriers/{id}(id=${courier.id})}" th:method="delete"
                          onclick="if(!(confirm('Are you sure to delete this courier?'))) return false">
                        <button type="submit" class="btn">Delete courier</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
<br>
<button type="button" onclick="history.go(-1)"
        class="go-button"> Go to previous page
</button>
<br><br>
<a th:href="@{/home}">
    <button type="button" class="update-button">Return to home page</button>
</a>
</body>
</html>