<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Courier form</title>
    <style>
        .error{color:red}
    </style>
</head>
<body>
<h1>Please fill in the Courier form</h1>
<hr>
<h2>New Courier:</h2>
<form method="post" action="/api/couriers" th:object="${courier}" th:action="@{/api/couriers}">
    <table>
        <tbody>
        <input type="hidden" id="id" name="id" th:field="*{id}"/>
        <tr>
            <td><label>First name:</label></td>
            <td>
                <input type="text" id="firstName" name="firstName" th:field="*{firstName}" class="form-control" />
            </td>
        </tr>
        <td><span th:if="${#fields.hasErrors('firstName')}" class="error" th:errors="*{firstName}">First name is invalid</span></td>
        <tr>
            <td><label>Last name:</label></td>
            <td>
                <input type="text" id="lastName" name="lastName" th:field="*{lastName}" class="form-control" />
              </td>
        </tr>
        <td> <span th:if="${#fields.hasErrors('lastName')}" class="error" th:errors="*{lastName}">Last name is invalid</span></td>
        <tr>
            <td><label>Phone number:</label></td>
            <td>
                <input type="text" id="phone" name="phone" th:field="*{phone}"/>
            </td>
        </tr>
        <td><span th:if="${#fields.hasErrors('phone')}" class="error" th:errors="*{phone}">Phone is invalid</span></td>
        <tr>
            <td>
                <input type="submit" value="Save Courier" class="save"/>
            </td>
        </tr>
        </tbody>
    </table>
</form>
<p>
    <a th:href="@{/api/couriers}">
        <button type="button" class="update-button">Return back to Courier list</button>
    </a>
</p>
</body>
</html>