<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Files page</title>
</head>
<body>
<h1>Working with files in database</h1>
<hr>
<a th:href="@{/api/files/upload}">
    <button type="button" class="update-button">
        Upload file to database
    </button>
</a>
<br><br>
<a th:href="@{/api/files/html}">
    <button type="button" class="update-button">
        Download or Delete files in html format
    </button>
</a>
<br><br>
<a th:href="@{/api/files/json}">
    <button type="button" class="update-button">
        Download files in json format
    </button>
</a>
<br><br>
<a th:href="@{/admin}">
    <button type="button" class="update-button">Return to admin's page</button>
</a>
</body>
</html>