<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html" >
<head>
    <meta charset="UTF-8">
    <title>Successful order confirmation page</title>
</head>
<body>
<h1> Success </h1>
The order placement is complete.<br>
Your address is added to database.<br>
Our manager will contact you when your order is ready to be delivered.<br>
Please return back to home page.
<hr>
<a th:href="@{/home}">
    <button type="button" class="update-button">Return to home page</button>
</a>
</body>
</html>